:root{
    --animation:250ms cubic-bezier(0.4, 0, 0.2, 1);

}
body {
    background-color: #b191a9;}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.text-section{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.headline{
    margin: 0 auto;
    font-size: 60px;
    font-family: 'Cambay',
        sans-serif;
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Smooch',
        cursive;
    text-align: center;
    font-weight: 400;
}
.text {
font-size: 60px;
font-family: 'Cambay',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Smooch',
cursive;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 100px;
letter-spacing: 2px;
   }
.text-1{
    display: block;
        font-size: 80px;
        font-family: 'Cambay',
        sans-serif;
        font-family: 'Montserrat',
        sans-serif;
        font-family: 'Smooch',
        cursive;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        letter-spacing: 5px;

}
.louder{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 400;
        font-family: 'Cambay',
            sans-serif;
        font-family: 'Montserrat',
            sans-serif;
        font-family: 'Smooch',
            cursive;
        text-align: center;
        background-color:rgb(128, 69, 113);
        border-radius: 7px;
}

.video{
    margin: 20px auto;
    margin-bottom: 0;
    padding-bottom: 50px;
}



.demo {
    bottom: 0;
    height: 120px;
    left: 0;
    margin: auto;
    top: 0;
    right: 0;
    width: 120px;
}

/* Сердце */
#heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: 0 auto;
    animation: b 1.5s ease-in-out infinite;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px;
    border-radius: 50px 50px 0 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -moz-box-shadow: 3px -45px 5px 3px rgba(177, 145, 169);
    -webkit-box-shadow: 3px -45px 5px 3px rgba(177, 145, 169);
    box-shadow: 3px -45px 5px 3px rgba(177, 145, 169);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.k {
    position: absolute;
    top: 16px;
    left: 55px;
    z-index: 3;
    width: 0px;
    height: 0px;
    animation: a 1.5s infinite;
}

@keyframes a {
    0% {
        -moz-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    }

    50% {
        -moz-box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
    }

    100% {
        -moz-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    }
}

@keyframes b {
    0% {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.img-folder{
    margin-top: 40px;
}
.img-folder::before{
    content: '';
    display: block;
    background-color: rgb(117, 38, 113);
    height: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
}
.img-folder::after {
    content: '';
    display: block;
    background-color: rgb(117, 38, 113);
    height: 2px;
    border-radius: 2px;
    margin-top: 10px;
    width: 100%;
}

@keyframes img-heart {
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(0.9);
    }   
}

.heart-img{
    max-width: 380px;
    width: 100%;
    height: auto;
    animation: img-heart 2000ms linear infinite alternate ;

}

.btn-open{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    border: none;
    border-radius: 4px;
    width: 200px;
    background-color: rgb(128, 69, 113);
    color: azure;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Cambay',
        sans-serif;
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Smooch',
        cursive;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 93, 140, 0.72);
    transition: opacity var(--animation), visibility var(--animation) ;
}
.backdrop.is-hidden{
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: scale(1);
}
.modal{
    max-width: 100%;
    height: 675px;
    margin: 20px 20px;
    background-color:rgba(99, 38, 96, 1);
    /* transform: translateX(-50%) scale(1.05); */
}
.title{
    position: absolute;
    z-index: 100;
    bottom: 20%;
    left: 12%;
    max-width: 350px;
    width: 100%;
    font-size: 30px;
    line-height: calc(50 / 30);
    font-family: 'Cambay',
        sans-serif;
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Smooch',
        cursive;
}
.add-title{
    font-size: 40px;
    font-weight: bold;
}
.close-btn{
    z-index: 10000;
    position: absolute;
    top: 40px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
        border: none;
        border-radius: 5px;
        width: 200px;
        background-color: rgb(128, 69, 113);
        color: azure;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Cambay',
            sans-serif;
        font-family: 'Montserrat',
            sans-serif;
        font-family: 'Smooch',
            cursive;
            transition: background-color var(--animation);
}
.close-btn:hover,
.close-btn:focus{
    background-color: #5E3754;
}

.img-list__picture{
    position: relative;
    z-index: 1000;
    transition: transform calc(0.2s * var(--speed)) ease, opacity var(--animation);
    transform: translateX(0%);
        
}
.hide-img{
    opacity: 0;
    transform: translateX(-120%);
}
.btn-start{
    position: absolute;
        bottom: 45px;
        right: calc(50% / 2);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        width: 200px;
        background-color: rgb(128, 69, 113);
        color: azure;
        font-size: 30px;
        line-height: calc(45 / 30);
        font-weight: 400;
        font-family: 'Cambay',
            sans-serif;
        font-family: 'Montserrat',
            sans-serif;
        font-family: 'Smooch',
            cursive;
        transition: background-color var(--animation);
}
.btn-start:hover,
.btn-start:focus{
    background-color: #5E3754;
}